* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.heart {
    color: #6653d9;
    background-image: url("../img/icon-heart-light.svg");
    background-color: #00000000;
    background-size: 40px;
    border: 0;
    opacity: 0.7;
    width: 40px;
    height: 40px;
    transition: 0.1s;
}

.heart.added {
    background-image: url("../img/icon-heart-light-added.svg");
}

.cookies-agreement {
    background-color: #fdeacd;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
}
.cookies-agreement {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 20px 20px;
}
.cookies-agreement .button {
    margin-left: auto;
}
.cookies-agreement-closed {
    display: none;
}
.button {
    font-size: 12px;
    border: none;
    padding: 7px 16px;
    border-radius: 2px;
}
.cookies-agreement-closed {
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

body {
    background: #e9d5b7;
    transition: 0.2s;
}

body.dark-theme {
    background: #1f1f1f;
}

.up-button {
    /* transform: rotate(90deg); */
    position: fixed;
    right: 200px;
    bottom: -50px;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.5);
    cursor: pointer;
}

.up-button:hover {
    filter: brightness(0.8);
}

.up-button.shown {
    bottom: 80px;
}

/* Головна */
.theme-container {
    width: 1280px;
    margin: 0 auto;
}

.forum-title {
    color: #f4e2d1;
}

.theme-button {
    border: 0;
    width: 100px;
    height: 35px;
    border-radius: 13px;
    font-size: 20px;
    font-weight: bold;
    background: #d6aa9f;
    color: #251f1f;
    box-shadow: 0px 5px 20px #00000030;
    cursor: pointer;
}

.theme-button:hover {
    background: #ad8a81;
}

.theme-button:active {
    background: #91736c;
}

.navigation {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background: #423736d0;
    backdrop-filter: blur(20px);
    border: 1px solid #2c252420;
    box-shadow: 0px 5px 20px #00000050;
    height: 60px;
    margin-top: 0px;
    border-radius: 22px;
    position: fixed;
    margin-top: -90px;
    transition: 0.2s ease-out;
}

.navigation.shrink {
    width: 1260px;
    height: 58px;
    margin-left: 10px;
    margin-top: -105px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Header */
.forum-header {
    margin-top: 100px;
}

.title {
    text-align: center;
    transition: 0.2s;
}

.title.dark-theme {
    color: #f4e2d1;
}

.forum-container {
    background: #f4e2d1;
    display: flex;
    flex-direction: column;
    border: 1px solid #2c252430;
    box-shadow: 0px 5px 20px #00000020;
    margin-top: 10px;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.2s;
	margin-bottom: 50px;
}

.forum-container.dark-theme {
    background: #d6aa9f;
}

.forum-text {
    font-size: 17px;
    margin: 40px;
}

.social-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.social-container {
    display: flex;
    align-items: center;
}

.heart {
    margin-right: 6px;
    cursor: pointer;
}

.likes-number {
    color: #5e5e5e;
    font-size: 18px;
}

.date {
    color: #878787;
}

.bold {
    font-size: 22px;
    margin-top: 20px;
}

/* Comments */
.comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f4e2d1;
	padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 5px 20px #00000020;
	margin-top: 10px;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.2s;
}
.comment-field {
    width: 100%;
	height: 60px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
	border-radius: 25px;
    transition: 0.2s;
}
.comment-field.dark-theme {
    opacity: 70%;
}
.comment-form.dark-theme {
    background: #d6aa9f;
}
.comment-field:focus {
    outline: none;
    border-color: #007bff;
}
.submit-button {
    background-color: #987185;
    cursor: pointer;
    align-self: flex-end;
	border: 0;
    width: 140px;
    height: 40px;
    border-radius: 13px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 5px 20px #00000030;
}
.submit-button:hover {
    background-color: #775969;
}
.comment-list {
    margin-top: 20px;
    list-style: none;
}
.user-comment {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    transition: 0.2s;
}
.user-comment.dark-theme {
    opacity: 70%;
}
